<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <th:block th:each="car : ${cars}">
        <h1 th:text="${car.getId() + ' ' + car.getModel() + ' ' + car.getColor()}"></h1>
    </th:block>
</div>
<div>
    <form action="/cars" method="get">
        <input type="number" name="count">
        <button type="submit">Show</button>
    </form>
</div>
</body>
</html>